<app-head></app-head>
<div class="Fondo">
    <p>
        En esta pagina se implemento varias cosas, <br><br><br>
        como el head que es donde encontramos las <br><br><br> opciones com
        o el Rick y morty que si nos <br><br><br> paramos encima de este  hace una <br><br><br> animasion de boton,
        donde si le damos click <br><br><br> nos lleva a la informacion de los personajes, <br><br><br> se organizo 
        de manera en cards los <br><br><br> personajes, si le damos click a las imagenes <br><br><br> del head nos
        mandara al inicio (welcome)  
    </p>
</div>
