<div class="Head">
    <tr>
        <td>
            <div class="hover-effect">
                <p class="logo , letra" (click)="Inicio()">RICK Y MORTY </p>
            </div>
              
        </td>
        <td>
            <div>
                <img  class="img1"  (click)="welcome()" src ="https://www.nicepng.com/png/full/6-61830_rick-and-morty-rick-face-png.png">
            </div>  
        </td>
        <td>
            <div>
                <img class="img2" (click)="welcome()" src="https://www.nicepng.com/png/full/312-3121864_rick-and-morty-morty-face-rick-and-morty.png">
            </div>
        </td>
        <td class="N">
            <div class="hover-effect">
                <span class="nosotros, letra" (click)="Nosotros()">CAMBIOS</span>
            </div>
        </td>
    </tr>
</div>
